body {
    background: #444;
    color: #aaa;
}

.lbc-title {
    text-align: center;
}
.lbc-form {
    text-align: center;
    padding: 10px;
}
.lbc-content {
    text-align: center;
    word-wrap: break-word;
}
